{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome to my page</h1>
    <p>
        This is an example page
        <em>Going to Google</em> Over here <a href="https://www.google.com">Click</a>
<h2>Flash Cards</h2>
<ul>
    {% for card in cards %}
    <li>
        <a href="{{url_for('card_view', index=loop.index0)}}">
            {{card.question}}
        </a>
    </li>
    {% endfor %}
</ul>

<button>
    <a href="{{ url_for('add_card')}}">
           Add Card
        </a>
</button>
{% endblock %}}